@import 'colors';

/* Theme */
$body-color: #525a6b;

$theme-colors: (
  "primary": $primary,
  "gray": $gray
);

@import '~node_modules/bootstrap/scss/bootstrap';
@import '~node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';


/* Datepicker */
.theme-red {
  $dp: bs-datepicker;

  .#{$dp}-head, .#{$dp}-body table td span.selected { background-color: $primary; }
}
