@media screen and (max-width: 767px) {
  .container { max-width: 100%; }

  .nav-link > span { display: none; }

  .nav-link fa { font-size: 20px; }

  .container.large .content {
    width: 600px;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .bg-wrapper .row { margin: 0 !important; }

  .bg-wrapper .container { padding: 0 !important; }

  .bg-wrapper .row > .content { padding: 30px !important; }
}

.nav-tabs .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid #123456;
}

.nav-link.active fa {
  color: #123456;
  cursor: pointer;
}

.nav-tabs .nav-link { border: none; }

.nav-link:not(.active) > span, .nav-link fa { color: gray; }

.nav-link > span { font-size: 14px; }
