@import '../base/colors';
@import '../utils/mixins';


/* TABS */
.nav-tabs {
  .nav-link {
    @include max-media(853px) {
      fa {
        font-size: 1.2rem;
        & + span { display: none; }
      }
    }

    color: #808080cf;
    border: none;
    font-size: 0.9rem;

    &.active {
      font-weight: bold;
      border-bottom: 2px solid $primary;
    }
  }
}
