@import 'main';

$breakpoint-991: 991px;


/* BORDER */
.red-bg-border {
  @include max-media($breakpoint-991) {
    & { height: 100vh !important; }
  }

  background-color: $primary;
  height: 400px;
}

/* BOX */
.box {
  @include max-media($breakpoint-991) {
    & {
      border-radius: 0 !important;
      height: auto !important;
    }
  }

  height: 600px;
  padding: 30px;
}
