@import 'main';


/* CONTAINER */
.container-fluid {
  @include max-media(425px) {
    .red-bg-border { background-color: white !important; }

    .height-vh-100 { height: auto !important; }

    .box { box-shadow: unset; }
  }

}

/* LOGO */
.logo {
  @include max-media(767px) {
    & { display: none !important; }
  }

  padding: 20px 30px;

  fa { font-size: 11px; }

  h6 { top: 1px; }
}

$breakpoint-991: 991px;

/* BORDER */
.red-bg-border {
  @include max-media($breakpoint-991) {
    & { height: 100vh !important; }
  }

  background-color: $primary;
  height: 45vh;
}

/* BOX */
.box {
  @include max-media($breakpoint-991) {
    & {
      border-radius: 0 !important;
      height: auto !important;
    }
  }

  height: 600px;
  padding: 30px;
}
