@import 'utils/mixins';
@import 'base/colors';


/* CONTAINER */
.container-fluid {
  @include max-media(425px) {
    .red-bg-border { background-color: white !important; }

    .height-vh-100 { height: auto !important; }

    .box { box-shadow: unset; }
  }

}

/* LOGO */
.logo {
  @include max-media(767px) {
    & { display: none !important; }
  }

  padding: 20px 30px;

  fa { font-size: 11px; }

  h6 { top: 1px; }
}

/* TABS */
::ng-deep .nav-tabs {
  .nav-link {
    @include max-media(853px) {
      fa {
        font-size: 1.2rem;
        padding-right: 0 !important;

        & + span { display: none; }
      }
    }

    color: #808080cf;
    border: none;
    font-size: 0.9rem;

    &.active {
      font-weight: bold;
      border-bottom: 2px solid $primary;
    }
  }
}

$breakpoint-991: 991px;

/* BORDER */
.red-bg-border {
  @include max-media($breakpoint-991) {
    & { height: 100vh !important; }
  }

  background-color: $primary;
  height: 45vh;
}

/* BOX */
.box {
  @include max-media($breakpoint-991) {
    & {
      border-radius: 0 !important;
      height: auto !important;
    }
  }

  height: 600px;
  padding: 30px;
}

