<div class="container-fluid px-0">
  <div class="red-bg-border">
    <div class="row d-flex align-items-center height-vh-100">

      <div class="col-md-10 offset-md-1 box bg-white">

        <!-- TABS -->
        <tabset [justified]="true">
          <tab *ngFor="let tab of speechTabs"
               [active]="tab.active"
               (select)="router.navigate(['speech', tab.url])">
            <ng-template tabHeading>
              <fa class="pr-2 cursor-pointer"
                  [name]="tab.icon"></fa>
              <span>{{ tab.label  }}</span>
            </ng-template>
          </tab>
        </tabset>

        <!-- CONTENT -->
        <div class="content py-5">
          <router-outlet></router-outlet>
        </div><!-- END .content -->

      </div><!-- END .box -->

    </div><!-- END .row -->
  </div><!-- END .red-bg-border -->
</div><!-- END .container-fluid -->
