@import 'utils/mixins';

/* HOST */
:host { width: 100%; }

/* INPUT */
.form-group {
  @include media(max-width, 767px) {
    margin-bottom: 0;
  }
}

input {
  font-size: 12px !important;
  color: black;
}

textarea.form-control { padding: 20px; }
