@import 'utils/mixins';
@import 'base/colors';


/* CONTAINER */
$breakpoint-991: 991px;

.container-fluid {
  @include max-media($breakpoint-991) {
    & { padding: 0; }
  }
}

/* FORM CONTROL*/
.form-control.ng-touched.ng-invalid { border: 1px solid #f18797; }

/* BUTTONS */
.buttons {
  $breakpoint-435: 435px;

  @include max-media($breakpoint-435) {
    & { text-align: center !important; }
  }

  button {
    @include max-media($breakpoint-435) {
      & { width: 60px !important; }

      fa { display: block !important; }

      span { display: none; }
    }

    fa { display: none; }

    &.btn-delete {
      border: 1px solid $primary;
      background: unset;
      color: $primary;
      font-weight: bold;
    }
  }
}

/* MODAL */
::ng-deep .modal-content {
  border-radius: 10px;
  border: 0;

  .modal-body { padding: 2.5rem; }
}

