<div class="container-fluid">
  <form novalidate
        [formGroup]="form">

    <div class="row">
      <div class="col-md-12 mb-3">
        <textarea class="form-control"
                  cols="30"
                  rows="10"
                  formControlName="content"></textarea>
      </div><!-- END .col-md-12 -->

      <!-- SPEECH FORM SUB FIELDS -->
      <app-speech-sub-fields [form]="form"></app-speech-sub-fields>

      <!-- BUTTONS -->
      <div class="col-md-12 text-right mt-5 buttons">
        <!-- DELETE -->
        <button *ngIf="speeches?.length"
                class="btn btn-delete mr-2"
                (click)="openModal(delete)">
          <span>Delete</span>
          <fa name="trash"></fa>
        </button>

        <!-- SAVE -->
        <button class="btn btn-primary mr-2">
          <span>Save</span>
          <fa name="save"></fa>
        </button>

        <!-- SHARE -->
        <button *ngIf="speeches?.length"
                class="btn btn-primary">
          <span>Share</span>
          <fa name="share"></fa>
        </button>
      </div><!-- END .buttons -->

    </div><!-- END .row -->

  </form>
</div><!-- END .container -->

<!-- DELETE MODAL -->
<ng-template #delete>
  <div class="modal-body text-center">
    <p>Do you want to delete <strong>{{speech?.title}}</strong> ?</p>

    <button type="button"
            class="btn btn-default mr-3"
            (click)="modalRef.hide()">No</button>

    <button type="button"
            class="btn btn-primary"
            (click)="onDeleteSpeech(speech.id)">Yes</button>
  </div>
</ng-template>
