<div class="container-fluid">
  <form novalidate
        [formGroup]="form">

    <div class="row">

      <div class="col-md-12 mb-3">
        <textarea class="form-control"
                  cols="30"
                  rows="10"
                  formControlName="content"></textarea>

        <app-error-field-message [form]="form"
                                 [name]="'content'"></app-error-field-message>
      </div><!-- END .col-md-12 -->

      <!-- SPEECH FORM SUB FIELDS -->
      <app-speech-sub-fields [form]="form"></app-speech-sub-fields>

      <!-- BUTTONS -->
      <div class="col-md-12 text-right mt-5 buttons">
        <!-- DELETE -->
        <button *ngIf="speech"
                class="btn btn-delete mr-2"
                (click)="openModal('delete')">
          <span>Delete</span>
          <fa name="trash"></fa>
        </button>

        <!-- SAVE -->
        <button class="btn btn-primary mr-2"
                [disabled]="form.invalid"
                (click)="onSaveSpeech(form.value)">
          <span>Save</span>
          <fa name="save"></fa>
        </button>

        <!-- SHARE -->
        <button *ngIf="speech"
                class="btn btn-primary"
                (click)="openModal('share')">
          <span>Share</span>
          <fa name="share"></fa>
        </button>
      </div><!-- END .buttons -->

    </div><!-- END .row -->

  </form>
</div><!-- END .container -->


<!-- MODAL TEMPLATE -->
<app-modal-templates [speech]="speech"
                    [modalRef]="modalRef"
                    (deleteSpeech)="onDeleteSpeech($event)"></app-modal-templates>
