@import 'utils/mixins';

$breakpoint-767: 767px;

/* CONTAINER */
.container {
  @include media(min-width, $breakpoint-767) {
    &, .row { height: 100% !important; }
  }

  @include media(max-width, $breakpoint-767) {
    &, .row { height: 50% !important; }

    & {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/* BOX */
.box {
  @include media(max-width, 991px) {
    & {
      flex: 0 0 50% !important;
      max-width: 50% !important;
    }
  }

  @include media(max-width, $breakpoint-767) {
    & {
      flex: unset !important;
      max-width: 100% !important;

      h3 { font-size: 1.5rem; }

      p { font-size: 0.8rem; }

      &:first-child {
        height: 250px !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }

      &:last-child {
        margin-left: 0 !important;
        height: 400px !important;
        margin-top: -25px;
      }
    }
  }

  &:first-child {
    background-image: linear-gradient(rgba(249, 71, 84, 0.75), rgba(249, 71, 84, 0.85)),
    url('../../../../assets/images/draft-bg.jpg');
    height: 500px;
    background-size: cover;
    background-position: unset;
    box-shadow: 1px 2px 20px 0 rgba(0, 0, 0, 0.37) !important;
    z-index: 1;
  }

  &:last-child {
    height: 470px;
    margin-left: -10px;
  }
}

/* LOGIN */
#logo {
  %position-relative { position: relative; }

  fa {
    @extend %position-relative;

    top: 7px;
  }

  h4 {
    @extend %position-relative;

    padding-left: 15px;
    top: 8px;
  }
}


