@import 'main';


/* MODAL */
.modal-body { padding: 40px; }

/* SUCCESS TEMPLATE */
#success {
  fa {
    font-size: 4.5rem;
    margin-top: -5px;
    color: $light-green;
  }

  span {
    top: -25px;

    strong { font-size: 25px; }
  }

}
